# editor
.vscode
.DS_Store
.idea

# generated
node_modules
build
var/next_race

# cache
*.py[cod]

# notebooks
.ipynb_checkpoints
.Trash-0
notebooks/sandbox/*
!notebooks/sandbox/.gitkeep

# config
.env
scripts/bet_config.json
scripts/live_config.json
docker-compose.override.yml

# ML data
var/datasets/*
!var/datasets/.gitkeep
var/models/*
!var/models/.gitkeep
var/programs/*
!var/programs/.gitkeep

# scrap files
var/scrap/*
!var/scrap/.gitkeep
var/archives/*
!var/archives/.gitkeep

# db
var/mysql/*
!var/mysql/.gitkeep
