# editor
.vscode
.DS_Store

# libs
node_modules
build

# cache
*.py[cod]

# notebooks
.ipynb_checkpoints

# config
my.cnf
cataclop/settings.py
scripts/bet_config.json
scripts/live_config.json
uwsgi.ini
docker-compose.override.yml

# data
var/data/*
!var/data/.gitkeep
var/models/*
!var/models/.gitkeep
var/next_race
var/logs/*
var/scrap/*
