# editor
.vscode
.DS_Store

# libs
node_modules

# cache
*.py[cod]

# notebooks
.ipynb_checkpoints

# secrets
my.cnf
cataclop/settings.py
scripts/bet_config.json

# data
var/data/*
!var/data/.gitkeep
var/models/*
!var/models/.gitkeep
var/next_race
var/logs/*
var/scrap/*
