[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-configurations = "*"
pytz = "*"
jupyter = "*"
bencode = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
django-extensions = "*"
tables = "*"
matplotlib = "*"
certifi = "*"
fastparquet = "*"
"jinja2" = "*"
requests = "*"
pyopenssl = "*"
idna = "*"
sentry-sdk = "==0.5.5"
joblib = "*"
xgboost = "*"
seaborn = "*"
keras = "*"
theano = "*"
scikit-optimize = "*"

[dev-packages]

[requires]
python_version = "3.6"
