[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-configurations = "*"
pytz = "*"
jupyter = "*"
bencode = "*"
pandas = "*"
scikit-learn = "==0.20.2"
scipy = "*"
django-extensions = "*"
tables = "*"
matplotlib = "*"
certifi = "*"
fastparquet = "*"
"jinja2" = "*"
requests = "*"
pyopenssl = "*"
idna = "*"
sentry-sdk = "==0.5.5"
joblib = "*"
xgboost = "~=0.9"
seaborn = "*"
theano = "*"
scikit-optimize = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
trueskill = "*"
django-cursor-pagination = "*"
dill = "*"
django-redis = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"
faker = "*"
factory-boy = "*"
jupyterlab = "*"
tqdm = "*"
uwsgi = "*"
dash = "==1.19.0"
python-dateutil = "*"
celery = "*"
keras = "*"
tensorflow = "==2.4.2"

[dev-packages]

[requires]
python_version = "3.7"
