{% load mjml %}
{% load custom_tags %}

{% mjml %}
<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="100px" src="{% static_abs '/front/img/logo.png' %}"></mj-image>
        <mj-divider border-color="#F45E43"></mj-divider>
        <mj-text font-size="20px" color="#F45E43" font-family="helvetica">
            <mj-button href="{{ cta_url }}">Click to confirm your email</mj-button>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
{% endmjml %}